.page{
  background-color: black;
  padding: 0;
  margin: 0;
}

.intro{
  max-width: 100%;
  height: auto;
  width: auto\9;
  padding: 0;
  margin: 0;
  text-align: center;
  background: url('../img/testImg.jpg') no-repeat scroll;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.23s;
  -moz-animation-duration:1.23s;
  animation-duration:1.23s;
}

.title-white{
  text-align: center;
  color: white;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  margin-top: 130px;
}

.title-about-white{
  text-align: left;
  color: white;
  font-size: 17.5px;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

.title-black{
  text-align: center;
  color: black;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  margin-top: 170px;
}

.title-about-black{
  text-align: left;
  color: black;
  font-size: 17.5px;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}


.tightText{
  padding: 0;
  margin: 0;
}

.vertCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertOffCenter {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}

.announcementTable {
  border-collapse: collapse;
  width: 90%;
  margin-left: 30px;
}

.announcementTableHeader {
  color:black;
  border:1px solid;
  padding-top: 12px;
}

.announcementTableData {
  color:black;
  border:1px solid;
  padding-top: 12px;
}

.wrapper {
	padding: 6em 0 4em 0;
  height:100vh;
}

	.wrapper h1 {
		color: white;
	}

  .wrapper h2 {
		color: black;
	}

	.wrapper.style1 {
		background: white;
		color: black;
	}

.right {
    width: 50%;
    height: 100%;
    overflow: auto;
  }

.left {
    float: left;
    width: 50%;
    height: 100%;
  }
