.page{
  background-color: gray;
  padding: 0;
  margin: 0;
}

.intro{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center;
  background: url('../img/testImg.jpg') no-repeat scroll;
  background-size: cover;
}

.title{
  text-align: center;
  color: white;
}

.tightText{
  padding: 0;
  margin: 0;
}

.vertCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertOffCenter {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}
