<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
  <!--bootstrap-->
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

     <div class="container-fluid">
       <h1>Inline Block Grid</h1>
       <div class="row inline-block-row">
          <div class="col-sm-4 col-md-3">
             <div class="well height1">1</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well">2</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well">3</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well"> 4</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well"> 5</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well height2"> 6</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well"> 7</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well height1"> 7</div>
          </div>
          <div class="col-sm-4 col-md-3">
             <div class="well"> 7</div>
          </div>
       </div>
     </div>
  </body>
</html>
